.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        h3.dark Vielen Dank für Ihre Nachricht
        p.lead Wir werden Ihr Anliegen schnellstmöglich bearbeiten und uns bei Ihnen melden.
      .modal-footer
        button.btn.btn-primary(type='button', data-dismiss='modal') Schließen