li © QSC AG
li
  a(href='http://www.qsc.de/go/de/impressum') Impressum
li
  a(href='http://www.qsc.de/go/de/nutzungsbedingungen') Nutzungsbedingungen
li
  a(href='http://www.qsc.de/go/de/datenschutz') Datenschutz
li
  a(href='http://www.qsc.de/go/agb') AGB
li
  a(href='http://www.qsc.de', target='_top') www.qsc.de