#footerBg
  .container
    .row
      .col-md-8.col-md-offset-2
        footer#footerAirqoo
          .fence
            #footer-legal
              nav
                ul.list-inline.text-center
                  include footer-links.jade
            ul#footer-social.list-inline.text-center
                  li
                    a(href='http://www.twitter.com/QSCAGPresse', target='_blank', title='QSC AG Pressekanal bei Twitter')
                      i.fa.fa-twitter
                  li
                    a(href='http://facebook.com/QSCAG', target='_blank', title='QSC AG auf Facebook')
                      i.fa.fa-facebook
                  li
                    a(href='https://www.xing.com/companies/qscag', target='_blank', title='QSC AG bei Xing')
                      i.fa.fa-xing
                  li
                    a(href='http://www.youtube.com/qscgermany', target='_blank', title='YouTube-Kanal der QSC AG')
                      i.fa.fa-youtube
                  li
                    a(href='http://www.flickr.com/photos/qscag/', target='_blank', title='QSC AG bei Flickr')
                      i.fa.fa-flickr
                  li
                    a(href='http://blog.qsc.de', target='_blank', title='QSC Blog')
                      i.fa.fa-newspaper-o
            #footer-terms