footer#footerAirqoo.footer-contained
  hr.dark
  .fence
      #footer-legal
        nav
           ul.list-inline
            include footer-links.jade
      ul#footer-social.list-inline
        include footer-links-social.jade
                            