.col-xs-12.col-md-3
  .panel
    .panel-body.no-indicator.panel-news
      img(src='http://blog.qsc.de/wp-content/uploads/2015/04/Grafik_Tengo_Mail_200x150.jpg', alt='Geschäftliche E-Mails revisionssicher archivieren')
      h5.dark
        a(href='http://feedproxy.google.com/~r/QSCBlog/~3/K2tqKoSw-xA/') Geschäftliche E-Mails revisionssicher archivieren